<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.mdl.mapper.StudentMapper" >
  <resultMap id="BaseResultMap" type="cn.mdl.pojo.Student" >
    <id column="Sno" property="sno" jdbcType="INTEGER" />
    <result column="Sname" property="sname" jdbcType="VARCHAR" />
    <result column="Ssex" property="ssex" jdbcType="VARCHAR" />
    <result column="Sbirthday" property="sbirthday" jdbcType="DATE" />
    <result column="Sage" property="sage" jdbcType="INTEGER" />
    <result column="Saddtress" property="saddtress" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    Sno, Sname, Ssex, Sbirthday, Sage, Saddtress
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="cn.mdl.pojo.StudentExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    'false' as QUERYID,
    <include refid="Base_Column_List" />
    from student_entry
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from student_entry
    where Sno = #{sno,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from student_entry
    where Sno = #{sno,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="cn.mdl.pojo.Student" >
    insert into student_entry (Sno, Sname, Ssex, 
      Sbirthday, Sage, Saddtress
      )
    values (#{sno,jdbcType=INTEGER}, #{sname,jdbcType=VARCHAR}, #{ssex,jdbcType=VARCHAR}, 
      #{sbirthday,jdbcType=DATE}, #{sage,jdbcType=INTEGER}, #{saddtress,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="cn.mdl.pojo.Student" >
    insert into student_entry
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="sno != null" >
        Sno,
      </if>
      <if test="sname != null" >
        Sname,
      </if>
      <if test="ssex != null" >
        Ssex,
      </if>
      <if test="sbirthday != null" >
        Sbirthday,
      </if>
      <if test="sage != null" >
        Sage,
      </if>
      <if test="saddtress != null" >
        Saddtress,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="sno != null" >
        #{sno,jdbcType=INTEGER},
      </if>
      <if test="sname != null" >
        #{sname,jdbcType=VARCHAR},
      </if>
      <if test="ssex != null" >
        #{ssex,jdbcType=VARCHAR},
      </if>
      <if test="sbirthday != null" >
        #{sbirthday,jdbcType=DATE},
      </if>
      <if test="sage != null" >
        #{sage,jdbcType=INTEGER},
      </if>
      <if test="saddtress != null" >
        #{saddtress,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="cn.mdl.pojo.Student" >
    update student_entry
    <set >
      <if test="sname != null" >
        Sname = #{sname,jdbcType=VARCHAR},
      </if>
      <if test="ssex != null" >
        Ssex = #{ssex,jdbcType=VARCHAR},
      </if>
      <if test="sbirthday != null" >
        Sbirthday = #{sbirthday,jdbcType=DATE},
      </if>
      <if test="sage != null" >
        Sage = #{sage,jdbcType=INTEGER},
      </if>
      <if test="saddtress != null" >
        Saddtress = #{saddtress,jdbcType=VARCHAR},
      </if>
    </set>
    where Sno = #{sno,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="cn.mdl.pojo.Student" >
    update student_entry
    set Sname = #{sname,jdbcType=VARCHAR},
      Ssex = #{ssex,jdbcType=VARCHAR},
      Sbirthday = #{sbirthday,jdbcType=DATE},
      Sage = #{sage,jdbcType=INTEGER},
      Saddtress = #{saddtress,jdbcType=VARCHAR}
    where Sno = #{sno,jdbcType=INTEGER}
  </update>
</mapper>